# Functions
* Definition
* Call

In [ ]:
def get_grade():
    """get user input"""
    count = 5
    student_scores = []
    subjects=["English", "Kiswahili", "Math", "Science", "GHC"]
    for subject in subjects:
        score = input(f"Enter {subject} score")
        student_scores.append(score)
    return student_scores
get_grade()

In [ ]:
# Recap 1
condition = True
while condition:
    print("Dominic")
    condition = False

In [ ]:
# Recap 2
condition = 0
while (condition == 0):
    print("Dominic")
    condition += 1

In [ ]:
# Recap 3
condition == 1

In [ ]:
# Get student name
def get_student_name():
    name = input("student name e.g John Joe \n")
    return name
    
get_student_name()

In [ ]:
# Get the student scores

def get_scores():
    """get user input"""
    student_scores = []
    subjects=["English", "Kiswahili", "Math", "Science", "GHC"]
    for subject in subjects:
        score = int(input(f"Enter {subject} score"))
        student_scores.append(score)
    return student_scores
get_scores()

In [60]:
def student_performance():
    """
    Get student name
    Get student scores
    Grade student scores
    Sum of student scores
    return:
        student name, student scores, student grades, Sum
    """
    student_name = get_student_name()
    student_scores = get_scores()
    student_grades = []
    # loop through the grades
    for score in student_scores:
        if (score >= 70) and (score <= 100):
            grade = "A"
            student_grades.append(grade)
        elif  (score <= 69) and (score >= 60):
            grade = "B"
            student_grades.append(grade)
        elif  (score <= 59) and (score >= 50):
            grade = "C"
            student_grades.append(grade)
        elif  (score <= 49) and (score >= 40):
            grade = "D"
            student_grades.append(grade)
        elif  (score <= 39) and (score >= 0):
            grade = "E"
            student_grades.append(grade)

        else:
            print("Invalid grade")
            student_grades.append(None)

    total = sum(student_scores)

    return student_name, student_scores, student_grades, total

In [61]:
student_performance()

ValueError: invalid literal for int() with base 10: ''

In [67]:
# adding additional students performance

student_number = 0
Class_Performance = {
    "Name":[], 
    "English": [],
    "English_grade":[],
    "Kiswahili": [],
    "Kiswahili_grade":[],
    "Maths": [],
    "Maths_grade":[],
    "Science": [],
    "Science_grade":[],
    "GHC": [],
    "GHC_grade":[],
    "Total": []
}
while (student_number < 2):
    Individual_student = student_performance()
    Individual_student = list(Individual_student)
    Class_Performance["Name"].append(Individual_student[0]) 
    Class_Performance["English"].append(Individual_student[1][0])
    Class_Performance["English_grade"].append(Individual_student[2][0])
    Class_Performance["Kiswahili"].append(Individual_student[1][1])
    Class_Performance["Kiswahili_grade"].append(Individual_student[2][1])
    Class_Performance["Maths"].append(Individual_student[1][2])
    Class_Performance["Maths_grade"].append(Individual_student[2][2])
    Class_Performance["Science"].append(Individual_student[1][3])
    Class_Performance["Science_grade"].append(Individual_student[2][3])
    Class_Performance["GHC"].append(Individual_student[1][4])
    Class_Performance["GHC_grade"].append(Individual_student[2][4])
    Class_Performance["Total"].append(Individual_student[3])
    student_number += 1

In [68]:
print(Class_Performance)

{'Name': ['Onana', 'Varane'], 'English': [79, 90], 'English_grade': ['A', 'A'], 'Kiswahili': [34, 56], 'Kiswahili_grade': ['E', 'C'], 'Maths': [67, 53], 'Maths_grade': ['B', 'C'], 'Science': [90, 89], 'Science_grade': ['A', 'A'], 'GHC': [32, 67], 'GHC_grade': ['E', 'B'], 'Total': [302, 355]}

In [69]:
import pandas as pd
df = pd.DataFrame(Class_Performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHC,GHC_grade,Total
0,Onana,79,A,34,E,67,B,90,A,32,E,302
1,Varane,90,A,56,C,53,C,89,A,67,B,355

In [57]:
Class_Performance = {}
Class_Performance["name"] = "Dominic"
print(Class_Performance)

{'name': 'Dominic'}

In [ ]:
# get student total

def student_total():
    """ Get total scores
    Returns: 
        Total student scores out of 500
    """
    student_scores = get_grade()
    total = sum(student_scores)

    return total
    
student_total()

In [ ]:
# Wrapping everything (name, scores, grade and total)

def student_performance():
    student_name = get_student_name()
    student_scores = get_grade()
    student_grade = grade_student()
    total_scores = student_total()

    return student_name, student_scores, student_grade, total_scores    

student_performance()